body {
  background-color: cadetblue;
  padding: 5%;
}

nav{
  text-align: center;
  color: black;
}
ul{
  list-style-type: none;
  padding: 8px;
}

li{
  display: inline;
}

li a:hover{
  background-color: white;
}

a{
  display: inline-block;
  padding: 8px;
  margin: auto;
  background-color: lightgray;
}

h1{
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  color: green;

}

table, th, td {
  border: 1px solid black;
}

table{
  background-color: white;
  border-collapse: collapse;
}

.background{
 background-color: white;
 padding: 2.5%;
}

.hotFoodBack{
  background-color: cornflowerblue;
  
}