body {
  background-color: lightblue;
}

nav{
  text-align: center;
  color: black;
}
ul{
  list-style-type: none;
  padding: 8px;
}

li{
  display: inline;
}

li a:hover{
  background-color: grey;
}

a{
  display: inline-block;
  padding: 8px;
  margin: auto;
  background-color: white;
}

h1{
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  color: green;
}
